body{
	background-image:url("../imagenes/fondo.jpg");
	font-family:"Tahoma","Lucida Console","Courier New";
	font-size:40px;
	color:#0F1458;
	text-align:center;
	font-weight:bold;
}

hr{
/*border es para lineas, grosor en pixeles,color,tipo de lineas*/
	border:3px solid #3C33FF;
/*width es para el ancho de la linea*/
	 width:80%;
	  border-radius:5px;
/* border radius es para el borde final de la linea*/
}

p{
	/*tamaño de la letra*/
	font-size:25px;
	/*alineacion del texto*/
	text-align:justify;
	/*interlineado de los renglones*/
	line-height:1.5;
	/*espacio entre las ltras*/
	letter-spacing:2px;
}

table,tr,td{
	border:1px solid #283747;
	border-spacing:0px;
	background-color:black;
	text-align:center;
	font-size:20px
}

/*clases*/
.pie{
	text-align:center;
	font-size:15px;
	font-weight:bold;
	background-image:linear-gradient(#15A0A4,#CBE9EA);
}

.sup{
	text-align:center;
	font-weight:bold;
	height:75px;
	background-image:linear-gradient(#15A0A4,#CBE9EA);
	font-family:Fuente-Vortigra;
}


.titulo{
	text-align:center;
	font-size:35px;
	font-weight:bold;
	font-family:Fuente-Vortigra;
}

/*carroule es de imagenes*/
.carrousel{
	width:600px;
	margin:auto;
	box-sizing:border-box;
}

.contecarrousel{
	width:100%;
	height:400px;
	overflow:hidden;
	box-sizing:border-box;
}

.itemcarrousel{
	position:relative;
	width:100%;
    height:100%;
	box-sizing:border-box;
}

.itemcarrouseltarjeta{
	width:100%;
	height:100%;
	box-sizing:border-box;
}

.itemcarrouselarrows{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:20px;
	box-sizing:border-box;
}

.itemcarrouselarrows> i:hover{
	cursor:pointer;
}

.contecarrouselcontroller{
	width:100%;
	display:flex;
	justify-content:space-evenly;
}

.contecarrouselcontroller>a{
	text-decoration:none;
	font-size:32px;
	color:black;
}

.itemcarrouselarrows> a > i{
	color:grey;
}

/*cajas para productos*/
.caja{
	height:300px;
	width:250px;
	background:#eee;
	Border:1px solid #eee;
	margin:5px;
	color:black;
	text-align:center;
	display:inline-block;
}
.caja:hover{
	box-shadow:0 0 10px red ;
	transform:scale(1.3);
}
.caja-texto{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
	color:black;
	font-weight:bold;
	font-family:Fuente-baby;
}
.texto-adicional{
	padding-top:5px;
	font-size:15px;
	font-family:Fuente-baby;
}
.caja2{
		
		width:600px;
		background:#2EA4E8;
		border:1px solid #2EA4E8;
		margin:5px;
		color:black;
		text-align:center;
		display:inline-block;
		font-size:23px;
}
.caja-texto{
	padding-top:5px;
	padding-bottom:5px;
	font-size:13px;
	color:black;
	font-weight:bold;
	font-family:Fuente-baby;
}
.caja:hover2{
	box-shadow:0 0 10px red;
	transform:scale(1.3);
}
.texto-adicional2{
		padding-top:10px;
		font-size:23px;
		font-family:Fuente-baby;
}
/*menu de navegacion*/
.navegacion{
	display:flex;
	height:100px;
}
.navegacion-item{
	flex:1;
	color:black;
	font-weight:bold;
	font-size:25px;
	display:flex;
	transition:flex-grow 0.2s;
	justify-content:center;
	align-items:center;
	
}
.navegacion-item:hover{
	flex-grow:10;
}
.navegacion-titulo{
	margin:0;
	transform:rotate(-90deg);
	transition:transform 0.2s 0.2s;
	font-size:10px;
	color:black;
}
.navegacion-item:hover .navegacion-titulo{
	transform:rotate(0);
}

.navegacion-item:nth-child(1){
	background:#74eaba;
}

.navegacion-item:nth-child(2){
	background:#74bcea;
}

.navegacion-item:nth-child(3){
	background:#7483ea;
}

.navegacion-item:nth-child(4){
	background:#cb84e8;

}
.caja3{
	height:300px;
	width:300px;
	background:#42DEAC;
	border:1 solid #42DEAC;
	margin:10px;
	color:Black;
	text-align:center;
	display:inline-block;
}


/* fuentes y tipografia*/
@font-face{
	font-family:Fuente-Vortigra;
	src: url(../Fuentes/Vortigra.otf);
}
@font-face{
	font-family:Fuente-Moderna;
	src: url(../Fuentes/MODERNA.ttf);
}
@font-face{
	font-family:Fuente-baby;
	src: url(../Fuentes/Baby Doll.oft);
}